{% extends 'base.html' %}
{% load static %}

<title>{% block title %}Santo Brilho - Cliente{% endblock %}</title>


{% block content %}
<!-- NOVO -->
<div class="row justify-content-center align-items-center  mt-3">
    <div class="col-md-10 mb-5">
      <h4 class="card-title mt-3 border-bottom">Cadastro de cliente</h4>
      {% if messages %}
          {% for m in messages %}
              <div class="alert alert-{{ m.tags }}" role="alert">
              {{ m }}
              </div>
          {% endfor %}
        {% endif %}
      <select class="form-select mb-3 " aria-label="Default select example" name="selecionado" id="selecionado">
        <option selected disabled>Selecione o tipo</option>
        <option value="1">Pessoa Física</option>
        <option value="2">Pessoa Jurídica</option>
      </select>


      <!-- FORMULÁRIO PESSOA FÍSICA -->
      <form method="POST" action="{% url 'cadastroCliente' %}" id="form_cad_cliente">
        {% csrf_token %}
        
        <div class="row ">
          <div class="col-md-8 col-sm-2 col-xs-2" id="nome">
            <label for="nome" class="col-sm-2 col-form-label">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome">
          </div>
          <div class="col-md-8 col-sm-2 col-xs-2" id="razaosocial">
            <label for="razaosocial" class="col-sm-4 col-form-label">Razão Social</label>
            <input type="text" class="form-control" id="razaosocial" name="razaosocial">
          </div>

          <div class="col-md-4 col-sm-2 col-xs-2">
            <label for="telefone" class="col-sm-2 col-form-label">Telefone</label>
            <input type="tel" class="form-control mask-fone" id="telefone" name="telefone">
          </div>
        </div>

        <div class="row ">
            <div class="col-md-4 col-sm-2 col-xs-2"  id="cnpj">
                <label for="cnpj" class="col-sm-2 col-form-label">CNPJ</label>
                <input type="text" class="form-control mask-cnpj" id="cnpj" name="cnpj">
            </div>

            <div class="col-md-3 col-sm-2 col-xs-2"  id="inscestadual">
                <label for="inscestadual" class="col-sm-12 col-form-label">Insc. Estadual</label>
                <input type="text" class="form-control" id="inscestadual" name="inscestadual">
            </div>

            <div class="col-md-4 col-sm-2 col-xs-2" id="cpf">
            <label for="inscestadual" class="col-sm-2 col-form-label">CPF</label>
            <input type="text" class="form-control mask-cpf" id="cpf" name="cpf">
          </div>

          <div class="col-md-5 col-sm-2 col-xs-2">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>
        </div>

        <div class="row ">
          <div class="col-md-4 col-sm-2 col-xs-2">
            <label for="cep" class="col-sm-2 col-form-label">Cep</label>
            <input type="text" class="form-control mask-cep" id="cep" name="cep">
          </div>

          <div class="col-md-2 col-sm-2 col-xs-2 align-self-end mt-3">
            <a class="btn btn-primary w-100" href="#" id="btn_cep" role="button">Buscar</a>
          </div>
        </div>
        
        <div class="row ">
          <div class="col-md-8 col-sm-2 col-xs-2">
            <label for="rua" class="col-sm-2 col-form-label">Rua</label>
            <input type="text" class="form-control" id="rua" name="rua">
          </div>

          <div class="col-md-2 col-sm-2 col-xs-2">
            <label for="numero" class="col-sm-2 col-form-label">Numero</label>
            <input type="text" class="form-control" id="numero" name="numero">
          </div>

          <div class="col-md-2 col-sm-2 col-xs-2">
            <label for="complemento" class="col-sm-2 col-form-label">Complemento</label>
            <input type="text" class="form-control" id="complemento" name="complemento">
          </div>
        </div>

        <div class="row ">
          <div class="col-md-6 col-sm-2 col-xs-2">
            <label for="bairro" class="col-sm-2 col-form-label">Bairro</label>
            <input type="text" class="form-control" id="bairro" name="bairro">
          </div>

          <div class="col-md-4 col-sm-2 col-xs-2">
            <label for="cidade" class="col-sm-2 col-form-label">Cidade</label>
            <input type="text" class="form-control" id="cidade" name="cidade">
          </div>

          <div class="col-md-2 col-sm-2 col-xs-2">
            <label for="uf" class="col-sm-2 col-form-label">Uf</label>
            <input type="text" class="form-control" id="uf" name="uf">
            
          </div>

          <div class="col-md-2 col-sm-2 col-xs-2">
            <input type="hidden" class="form-control" id="tipo" name="tipo">
            
          </div>

        </div>

        <div class="row ">
          <div class="col-md-4 col-sm-2 col-xs-2 align-self-end mt-3 offset-md-8">
            <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
          </div>
        </div>
      </form>
      <!-- FECHA FORMULÁRIO PESSOA FÍSICA -->
    </div>
  </div>
  
{% endblock %}