{% extends 'base.html' %}


<title>{% block title %}Santo Brilho - Lista de Clientes{% endblock %}</title>


{% block content %}
<!-- NOVO -->
<div class="row justify-content-center align-items-center  mt-3">
  <div class="col-md-10 mb-5">
    <h4 class="card-title mt-3 border-bottom">Lista de clientes</h4>
    {% if messages %}
    {% for m in messages %}
    <div class="alert alert-{{ m.tags }}" role="alert">
      {{ m }}
    </div>
    {% endfor %}
    {% endif %}
    <!-- <div class="col-md-2 col-sm-2 col-xs-2 radio-mobile ">
           <input class="form-check-input" type="radio"  name="flexRadioDefault" class="radio-mobile" id="flexRadioDefault1" value="1">
           <label class="form-check-label" for="flexRadioDefault1">
             Pessoa física
           </label>
         </div>
           <div class="col-md-3 col-sm-2 col-xs-2 radio-mobile mb-3">
             <input class="form-check-input" type="radio" name="flexRadioDefault" class="radio-mobile" id="flexRadioDefault2" value="2">
             <label class="form-check-label" for="flexRadioDefault1">
               Pessoa jurídica
             </label>
           </div> -->
    <form method="POST" action="{% url 'listarCliente' %}" style="display: block;">
      {% csrf_token %}
      <div class="row offset-md-4">
        <div class="col-md-4 col-sm-2 col-xs-2 pesquisa" id="nome">
          <select class="form-select pesquisa-select" name="selecBusca" aria-label="Selecione um tipo:" id="selecBusca">
            <option selected>Selecione um tipo:</option>
            <option value="3">Todos</option>
            <option value="1">Pessoa física</option>
            <option value="2">Pessoa jurídica</option>
          </select>
        </div>
        <div class="col-md-5 col-sm-2 col-xs-2 pesquisa" id="nome">
          <input type="text" class="form-control input-pesquisa mask-cpf"  maxlength="18"
            id="pesquisa" name="pesquisa">
        </div>
        <div class="col-md-3 col-sm-2 col-xs-2 pesquisa">
          <button type="submit" class="btn btn-primary btn-pesquisa w-100">Buscar</button>
        </div>
      </div>
    </form>

    <span>Total de registos: {{qntd}} </span>
    <ul class="list-group">
      {% for cliente in List %}
      <li class="list-group-item d-flex justify-content-between align-items-center ">
        {% if cliente.tipo == '1' %} {{cliente.nome}} {% else %} {{cliente.razaosocial}} {% endif %}


        <div class="justify-content-end">
          <a href="" title="Pedidos do cliente" class="btn btn-edit">
            <span class="material-icons">
              library_books
            </span>
          </a>
          <a href="{% url 'detalhesCliente' cliente.id %}" title="Edita cliente" class="btn btn-edit">
            <span class="material-icons">
              edit
            </span>
          </a>
          <a href="{% url 'deleteCliente' cliente.id %}" title="Deletar cliente" class="btn btn-edit btn-deletar">
            <span class="material-icons">
              delete
            </span>
          </a>
          <!-- <span class="badge bg-primary rounded-pill">{% if cliente.tipo == '1' %} PF {% else %} PJ {% endif %}</span> -->
        </div>
      </li>
      {% endfor %}
    </ul>

  </div>
</div>
{% endblock %}