{% extends 'base.html' %}


<title>{% block title %}Santo Brilho - Cliente{% endblock %}</title>


{% block content %}
<!-- NOVO -->
<div class="row justify-content-center align-items-center  mt-3">
    <div class="col-md-8 mb-5">
      <h4 class="card-title mt-3 border-bottom">Cadastro de cliente</h4>
      <select class="form-select mb-3 " aria-label="Default select example" name="tipo1" id="tipo1">
        <option selected disabled>Selecione o tipo</option>
        <option value="1">Pessoa Física</option>
        <option value="2">Pessoa Jurídica</option>
      </select>

      <!-- FORMULÁRIO PESSOA FÍSICA -->
      <form method="POST" id="form_cad_cliente">
        {% csrf_token %}
        
        <div class="row ">
          <div class="col-md-8 col-sm-2 col-xs-2" id="nome">
            <label for="inputnome" class="col-sm-2 col-form-label">Nome</label>
            <input type="text" class="form-control" id="inputnome" name="nome">
          </div>
          <div class="col-md-8 col-sm-2 col-xs-2" id="razaosocial">
            <label for="razaosocial" class="col-sm-4 col-form-label">Razão Social</label>
            <input type="text" class="form-control" id="razaosocial" name="razaosocial">
          </div>

          <div class="col-md-4 col-sm-2 col-xs-2">
            <label for="inputtelefone" class="col-sm-2 col-form-label">Telefone</label>
            <input type="tel" class="form-control" id="inputtelefone" name="telefone">
          </div>
        </div>

        <div class="row ">
            <div class="col-md-4 col-sm-2 col-xs-2"  id="cnpj">
                <label for="inputcnpj" class="col-sm-2 col-form-label">CNPJ</label>
                <input type="text" class="form-control" id="inputcnpj" name="cnpj">
            </div>

            <div class="col-md-3 col-sm-2 col-xs-2"  id="inscestadual">
                <label for="inputinscestadual" class="col-sm-12 col-form-label">Insc. Estadual</label>
                <input type="text" class="form-control" id="inputinscestadual" name="inscestadual">
            </div>

            <div class="col-md-4 col-sm-2 col-xs-2" id="cpf">
            <label for="inputcpf" class="col-sm-2 col-form-label">CPF</label>
            <input type="text" class="form-control" id="inputcpf" name="cpf">
          </div>

          <div class="col-md-5 col-sm-2 col-xs-2">
            <label for="inputemail" class="col-sm-2 col-form-label">Email</label>
            <input type="email" class="form-control" id="inputemail" name="email">
          </div>
        </div>

        <div class="row ">
          <div class="col-md-4 col-sm-2 col-xs-2">
            <label for="inputcep" class="col-sm-2 col-form-label">Cep</label>
            <input type="text" class="form-control" id="inputcep" name="cep">
          </div>

          <div class="col-md-2 col-sm-2 col-xs-2 align-self-end mt-3">
            <a class="btn btn-primary w-100" href="#" id="btn_cep" role="button">Buscar</a>
          </div>
        </div>
        
        <div class="row ">
          <div class="col-md-8 col-sm-2 col-xs-2">
            <label for="inputrua" class="col-sm-2 col-form-label">Rua</label>
            <input type="text" class="form-control" id="inputrua" name="rua">
          </div>

          <div class="col-md-2 col-sm-2 col-xs-2">
            <label for="inputnumero" class="col-sm-2 col-form-label">Numero</label>
            <input type="text" class="form-control" id="inputnumero" name="numero">
          </div>

          <div class="col-md-2 col-sm-2 col-xs-2">
            <label for="inputcomplemento" class="col-sm-2 col-form-label">Complemento</label>
            <input type="text" class="form-control" id="inputcomplemento" name="complemento">
          </div>
        </div>

        <div class="row ">
          <div class="col-md-6 col-sm-2 col-xs-2">
            <label for="inputbairro" class="col-sm-2 col-form-label">Bairro</label>
            <input type="text" class="form-control" id="inputbairro" name="bairro">
          </div>

          <div class="col-md-4 col-sm-2 col-xs-2">
            <label for="inputcidade" class="col-sm-2 col-form-label">Cidade</label>
            <input type="text" class="form-control" id="inputcidade" name="cidade">
          </div>

          <div class="col-md-2 col-sm-2 col-xs-2">
            <label for="inputuf" class="col-sm-2 col-form-label">Uf</label>
            <input type="text" class="form-control" id="inputuf" name="uf">
            <input type="text" class="form-control" id="inputtipo" name="tipo">
          </div>

        </div>

        <div class="row ">
          <div class="col-md-4 col-sm-2 col-xs-2 align-self-end mt-3 offset-md-8">
            <button type="submit" class="btn btn-primary w-100">Cadastrar</button>
          </div>
        </div>
      </form>
      <!-- FECHA FORMULÁRIO PESSOA FÍSICA -->
    </div>
  </div>
{% endblock %}